.firstSection {
  /* background-color: red; */
  display: flex;
  justify-content: right;
  align-items: center;
}


.firstSection .item {
  /* background-color: yellow; */
  margin-right: 18px;
  font-size: 13px;
}

.firstSection svg {
  width: 25px;
}

.firstSection img {
  width: 25px;
}

.second-section {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.second-section p {
  /* background-color: yellow; */

}

.second-section img {
  width: 200px;

}